*{
    margin:0;
    font-family: Calibri;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("images/amazon-logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}
.border{
    border: 1px solid transparent;
}
.border:hover{
    border: 1px solid white;
}
/* location */
.add-icon{
    display: flex;
    align-items: center;
}
.add-first{
    color: #cccccc;
    font-size: 0.8rem;
    margin-left: 15px;
}
.add-sec{
    font-size: 1 rem;
    margin-left: 3px;
}
/* search */
.nav-search{
    display:flex;
    justify-content: space-evenly;
    background-color: #ffffff;
    width: 750px;
    height: 40px;
    border-radius: 5px;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color:rgb(61, 57, 57);
    background-color: rgb(177, 227, 77);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

